<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.SvaggyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Base.Theme.Svaggy"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.guestuser.GuestHomeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.settings.DeleteAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.settings.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.settings.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.settings.AppSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.wallet.AllWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.EditCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.AddCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.payment.PaymentCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.address.EditAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.address.AddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.odercollection.OrderCollectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.editprofile.VerifyPhoneOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.editprofile.EditPhoneNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.editprofile.VerifyEmailOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.editprofile.EditEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.editprofile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.review.OrderReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.review.DeliveryReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.track.TrackPickOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.track.OrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.track.TrackOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.track.OrderConfirmedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.wallet.MoneyAddedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.wallet.AddWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.restaurant.CouponActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.checkout.CheckOutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.restaurant.RestaurantMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.restaurant.AllRestaurantActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.banner.CompareFoodActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.banner.ComboScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.home_search.FoodSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.home_location.OnMapLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.home_location.HomeLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.auth.VerifyEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.savePref.SavePrefActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.auth.VerifyPhoneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.auth.EmailLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.auth.PhoneLogInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.intro.FinalIntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.intro.NextIntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.intro.FirstIntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RemoveSplashScreenTheme"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity

            android:name="com.livechatinc.inappchat.ChatWindowActivity"
            android:configChanges="orientation|screenSize" />

        <service
            android:name=".fcmservices.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_svaggy_notification1" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primaryColor" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

      
    </application>

</manifest>